.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
}
header .header__logo {
  width: 95%;
  padding-left: 0;
}
header .return {
  font-size: 23px;
  font-weight: 500;
  flex-grow: 0.4;
  padding-left: 20px;
}

.restaurant-img img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-restaurant__category h3 {
  padding-left: 19px;
  font-weight: 400;
}
.menu-restaurant__category h3::after {
  content: "";
  display: block;
  width: 12%;
  padding-top: 3px;
  border-bottom: 3px solid #99E2D0;
}

.menu-restaurant {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  position: relative;
}
.menu-restaurant__category {
  padding-bottom: 30px;
}
.menu-restaurant__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 20px;
}
.menu-restaurant__title .heart {
  align-self: center;
  font-size: 30px;
}
.menu-restaurant__title .heart--empty {
  position: absolute;
  right: 40px;
  top: 20px;
}
.menu-restaurant__title .heart--full {
  position: absolute;
  right: 40px;
  top: 20px;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: 0.4s ease-out;
  pointer-events: none;
}
.menu-restaurant__title .heart--empty:hover + .heart--full {
  transform: scale(1.1);
}
.menu-restaurant__title h1 {
  font-family: shrikhand;
  font-size: 28px;
}
.menu-restaurant__item {
  padding: 5px 20px 0 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: white;
  cursor: pointer;
  padding-left: 10px;
  box-shadow: 0 0 10px #D4D4D4;
  line-height: 10px;
  margin: 15px 13px;
  display: flex;
  transition: 0.5s ease-in-out;
}
.menu-restaurant__item__info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.menu-restaurant__item__label {
  padding: 5px 0 5px 0;
  margin: 5px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
}
.menu-restaurant__item__label p {
  font-weight: 300;
  font-size: 15px;
}
.menu-restaurant__item__label h4,
.menu-restaurant__item__label p {
  padding-bottom: 10px;
  padding-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-restaurant__item__price {
  align-self: flex-end;
  padding: 5px 0 18px 0;
  margin: 10px 10px 0 0;
  font-weight: bold;
}
.menu-restaurant__item__check {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: auto;
  width: 0;
  min-width: 0;
  margin: -5px -20px 0 10px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 100% 50%;
}
.menu-restaurant__item__check i {
  transform: rotate(360deg);
  transition: none;
}
.menu-restaurant__item:hover > .menu-restaurant__item__check i {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.menu-restaurant__item:hover > .menu-restaurant__item__check {
  transform: scaleX(1);
  width: 90px;
  min-width: 90px;
}

.menu-restaurant__item:nth-child(1) {
  -webkit-animation: appear 2s 0s backwards;
          animation: appear 2s 0s backwards;
}

.menu-restaurant__item:nth-child(2) {
  -webkit-animation: appear 2s 0.2s backwards;
          animation: appear 2s 0.2s backwards;
}

.menu-restaurant__item:nth-child(3) {
  -webkit-animation: appear 2s 0.4s backwards;
          animation: appear 2s 0.4s backwards;
}

.menu-restaurant__item:nth-child(4) {
  -webkit-animation: appear 2s 0.6s backwards;
          animation: appear 2s 0.6s backwards;
}

.menu-restaurant__item:nth-child(5) {
  -webkit-animation: appear 2s 0.8s backwards;
          animation: appear 2s 0.8s backwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.button-order {
  text-align: center;
  padding: 0 0 80px 0;
}

@media screen and (min-width: 1025px) {
  .menu-restaurant {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .restaurant-img img {
    height: 600px;
  }
}/*# sourceMappingURL=style-menu.css.map */