$primary: #9356DC;
$secondary: #FF79DA;
$terciary: #99E2D0;

.box {
    box-sizing: border-box;
    /* Opera/IE 8+ */
    -moz-box-sizing: border-box;
    /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, autres WebKit */
}

* {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.loading {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: white, $alpha: 0.9);
    animation: loading 2s forwards;

    .letter {
        color: $terciary;
        font-size: 80px;
        animation: flash 1.2s linear infinite;
        font-family: shrikhand;
    }

    @keyframes flash {
        0% {
            color: $secondary;
            text-shadow: 0 0 7px $primary;
        }

        90% {
            color: $terciary;
            text-shadow: none;
        }

        100% {
            color: $secondary;
            text-shadow: 0 0 7px $primary;
        }
    }

    @keyframes loading {
        0% {
            visibility: visible;
        }

        100% {
            visibility: hidden;
        }

    }

    @for $i from 1 through 8 {
        .letter:nth-child(#{$i}) {
            animation-delay: 0.1s*$i;
        }
    }
}

.primary-button {
    padding: 18px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 1px 5px 6px #D4D4D4;
    font-weight: 400;
    color: white;
    background: linear-gradient(to bottom right, $secondary, $primary);
    transition: .3s ease;

    &--order {
        @extend .primary-button;
        padding: 18px 50px 18px 50px;
    }
}

.primary-button:hover {
    background: linear-gradient(to bottom right, #fda4e4, #ae85e0);
    box-shadow: 3px 7px 3px #D4D4D4;

}


.cover {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
    border-radius: 15px 15px 0 0;
}

.header__logo {
    text-align: center;
    padding: 20px 0 15px 20px;

}

.localisation {
    text-align: center;
    justify-content: space-around;
    background-color: #EAEAEA;
    padding: 15px 0 15px 0;
    box-shadow: inset 0 10px 5px -7px #D4D4D4;

    &__label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
    }

    &__label__text {
        border: none;
        font-weight: bold;
        text-align: center;
        margin-left: 15px;
        width: auto;
        background-color: #EAEAEA;
        width: 150px;
    }
}

.restaurant-explore {
    background-color: #F6F6F6;
    text-align: center;
    padding: 30px 0 50px 0;


    &__description {
        margin: 0 0 20px 0;
        font-size: 20px;
        color: #747474;
        font-weight: 300;
    }

}

.section-title {
    padding: 50px 20px 30px 20px;
}

.how-to {
    &__function {
        position: relative;
    }

    &__table {
        padding-bottom: 50px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 20px;
        border-style: none;
        background-color: #F6F6F6;
        padding: 20px;
        margin: 20px 30px 20px 30px;
        box-shadow: 2px 5px 10px #D4D4D4;
    }

    &__item:hover {
        background-color: #eadff7;

        i {
            color: $primary;
        }
    }

    i {
        padding: 0 30px 0 25px;
        color: #747474;
    }

    p {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        color: white;
        padding-top: 2px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

.restaurant {
    background-color: #F6F6F6;
    padding-bottom: 60px;

    &__card__new {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $terciary;
        color: #1b6150;
        font-weight: bold;
        padding: 5px 13px;
        border-radius: 4px;
    }


    &__card {
        width: 92%;
        margin: auto;
        padding-bottom: 10px;
        border-radius: 15px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 0 0 10px #D4D4D4;
        position: relative;

        .heart {
            align-self: center;
            font-size: 30px;
        }

        .heart--empty {
            position: absolute;
            right: 20px;
            bottom: 19px;
        }

        .heart--full {
            position: absolute;
            right: 20px;
            bottom: 19px;
            background: linear-gradient(to top, $secondary, $primary);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(0);
            transition: 0.4s ease-out;
            pointer-events: none;


        }

        .heart--empty:hover+.heart--full {
            transform: scale(1.1);
        }
    }
}

.restaurant__card__description {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 0 20px;
    line-height: 1.5;


}

.footer {
    background-color: #353535;
    color: white;
    padding-bottom: 20px;


    &__logo {
        color: white;
        font-family: shrikhand;
        font-size: 20px;
        padding: 20px;
    }

    &--icon {
        display: flex;
        flex-direction: row;
    }

    &--deal {
        font-size: 12px;
    }

    &__link {
        padding-left: 10px;
    }

    &__list {
        padding: 0 20px 0 20px;
    }

    li {
        padding: 5px;
    }
}

@media screen and (min-width: 1025px) {
    .how-to {
        display: flex;

        &__table {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }
        p{
            top: 35px;
        }
        &__table h2{
            display: flex;
            width: 100%;
        }
    }
    .restaurant{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        h2{
            display: flex;
            width: 100%;
        }
        &__card{
            margin: 30px;
            width: 45%;
        }
    }

}